/Assignment_2/submit/crawler/log/crawler.log
/Assignment_2/submit/crawler/log/crawler_error.log
/Assignment_2/submit/crawler/log/fetch_NY_Times.csv
/Assignment_2/submit/crawler/log/urls_NY_Times.csv
/Assignment_2/submit/crawler/log/visit_NY_Times.csv
/Assignment_2/submit/crawler/log/.Rhistory
/Assignment_2/submit/crawler/.gitignore
/Assignment_3/DATA/*
/Assignment_3/submission/invertindex/InvertIndex/.gitignore
*.class
/Assignment_3/submission/*
/Assignment_4/data/*
/Assignment_4/submit/ExtractLinkPageRank/resources/edgeList.txt
/Assignment_4/submit/server/Apache/*
/Assignment_5/code/server/files/*
/Assignment_5/code/server/parsed.txt
/Assignment_5/code/java/parsed.txt.zip
/Assignment_5/code/server/Apache/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Eclipse
*.classpath
*.project
**/.settings/*
